
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #black;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
}

h2 {
  font-size: 24px;
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
}

div {
  box-sizing: border-box;
}

// リンクスタイルをリセット
a {
  text-decoration: none;
  color: black;
}

// ボタンスタイルの共通化
a.button, button.button, input {
  display: inline-block;
  padding: 4px 6px;
  border: 1px solid;
  margin: 1px;
  border-radius: 2px;
  font-size: 1.6rem;
  background-color: white;
  cursor: pointer;
}

ul, li {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  h1{
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
}