.yellowline {
  background:linear-gradient(transparent 60%, pink 60%);
}

.smallfont {
  font-size: 1.4rem;
}

.verysmall {
  font-size: 1.2rem;
  color: rgb(255, 110, 134);
}

button.hidden, input.hidden {
  color: grey;
  background-color: silver;
  pointer-events: none;
}

.modebtn {
  cursor: pointer;
}
