button.following {
  font-size: 1.2rem;
  width: 100px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: whitesmoke;
  margin-top: 4px;
}

button.mouseover {
  background-color:pink ;

}

.mouseover:hover {
  color: red;
  font-weight: bold;
}

.memos__followers__index {
  margin: 10px;
  width: 100%;
  text-align: center;

}

.memos__follower {
  display: flex;
  justify-content: center;
  line-height: 30px;
  margin: 3px auto;
  &__pic {
    border-radius: 50%;
  }
  &__name {
    width: 150px;
    margin-left: 5px;
    font-size: 1.4rem;
  }
}

// .fade-move {
//   transition: transform 1.5s;
// }
// .fade-enter {
//   opacity: 0;
//   transform: translateY(-20px);
// }
// .fade-enter-active {
//   transition: opacity 1.5s;
// }
// .fade-enter-to {
//   opacity: 1;
// }
// .fade-leave {
//   opacity: 1;
// }
// .fade-leave-active {
//   position: absolute;
//   width: 100%;
// }
// .fade-leave-to {
//   opacity: 0;
//   transform: translateY(20px);
// }


.fade-enter-active, .fade-leave-active, .fade-move {
  transition: opacity 0.2s, transform 0.2s;
}
.fade-leave-active {
  position: absolute;
  width: 100%;
}
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}