button.following {
  font-size: 1.2rem;
  width: 100px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: whitesmoke;
  margin-top: 4px;
}

button.mouseover {
  background-color:pink ;

}

.mouseover:hover {
  color: red;
  font-weight: bold;
}


// サイドバーのメインボックス下段
.memos__followers__index {
  background-color: linen;
  margin: 3px;
  padding: 3px;
  width: calc(100%-10px);
  height: 250px;
  // text-align: center;
}

.memos__follower {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin: 3px auto;
  &__pic {
    border-radius: 50%;
  }
  &__name {
    width: 150px;
    margin-left: 10px;
    font-size: 1.4rem;
  }
}

.fade-enter-active, .fade-leave-active, .fade-move {
  transition: opacity 0.3s, transform 0.3s;
}
.fade-leave-active {
  position: absolute;
  width: 100%;
}
.fade-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}