button.following {
  font-size: 1.2rem;
  width: 100px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: whitesmoke;
}

button.mouseover {
  background-color:pink ;

}

.mouseover:hover {
  color: red;
  font-weight: bold;

}

