.weekly_memos {
  &__button {
    text-align: right;
    margin-top: -35px;
    margin-right: 10px;
  }
  border: solid 1px black;
  display: flex;
  margin:10px;
  &__calendar {
    width: 45px;
    margin: 5px;
    padding: 20px 0;
    text-align: center;
    background-color: seashell;
    font-size: 1.2rem;
    &__week {
      font-size: 2rem;
    }
  }
  &__memo {
    padding: 0 10px;
    width: 100%;
    &__line {
      border-bottom: dashed 1px grey;
      display: flex;
      justify-content: space-between;
      line-height: 22px;
      min-height: 22px;
      &__rightbtn {
        display: flex;
        height: 22px;
        a.weekly_memos__memo__line__rightbtn__hover {
          color: skyblue;
          // font-weight: bold;
        }
      }
    }
    &__line:hover {
      background-color: rgb(253, 251, 227);
    }
  }
}

a.fas.fa-crown, p.fas.fa-check {
  color: goldenrod;
  line-height: 22px;
}
