#pagenation
  .weekly_memos__button
    %button.button#prev-week{"@click" => "countDown"} prev
    %small {{totalPage-page+1}} / {{totalPage}}
    %button.button#next-week{"@click" => "countUp"} next

  .weekly_memos{"v-for" => "memo in filterMemos", ":key" => "memo.created_at"}
    %ul.weekly_memos__calendar
      %li
        {{ memo.date }}
      %li.weekly_memos__calendar__week
        {{ memo.week }}
    %ul.weekly_memos__memo{"v-for" => "m in memo.memo", ":key" => "m.id"}
      %li.weekly_memos__memo__line
        %p.smallfont {{ m.memo }}





      -# -if [m.id].note.present?
      -#   = link_to edit_note_path(m.note) do
      -#     %li.weekly_memos__memo__line
      -#       %p.smallfont
      -#         {{ m.memo }}
      -#       %i.fas.fa-crown
      -#         best!
      -# -else
      -#   = link_to new_note_path(m) do
      -#     %li.weekly_memos__memo__line
      -#       %p.smallfont= m.memo