- if user_signed_in?
  = current_user.name
  =link_to "ログアウト", destroy_user_session_path, class:"button",method: :DELETE, data: {"turbolinks" => false}
  %h2.memos
    = Date.today.to_s(:monthdate).gsub(/^0|\/0/, "^0" => "", "\/0" => "/")
    %span.memos_index
      = Date.today.strftime(%w(日曜 月曜 火曜 水曜 木曜 金曜 土曜 )[Date.today.wday])
    %span.memos_index.smallfont のGoodJob!!
  #memo_form
    .memo-form__inside
      .memo-form__inside__line{"v-for" => "memo in memos", ":key" => "memo.id"}
        %p.dot ・
        %input(type="text" class="memos__memo__form" v-model="memo.memo" maxlength="50")
      %p.verysmall.rightside
        %span.gray 毎日5分間で、その日のあなたのGoodJob!を1〜3つ書きましょう！
        ※ 一行50文字以内
    %template{"v-if"=>"copy[0]?.id === null"}
      %input.hidden(type="submit" value="保存する" class="submit-btn"){"v-if"=>"change"}
      %input(type="submit" value="保存する" class="submit-btn"){"@click"=>"createMemos", "v-else"=>""}
    %template{"v-else"=>""}
      %input.hidden(type="submit" value="保存する" class="submit-btn"){"v-if"=>"change"}
      %input(type="submit" value="保存する" class="submit-btn"){"@click"=>"changeMemos", "v-else"=>""}
    
    %transition{"appear"=>"","enter-active-class"=>"animate__animated animate__tada", "leave-active-class"=>"animate__animated animate__bounceOut"}
      %span.goodjob{"v-if"=>"popup"} GoodJob !!
  
  #memo 
    = render partial: "weekly_memos"
    .memos__followers__index
      フレンド検索:
      %input(type="text" v-model="searchWord" placeholder="ユーザーネームで検索")
      %br/
      %input.modebtn(type="radio" name="userfilter" id="followers"){"@click"=>"pushFollowersBtn"}
        %label.modebtn(for="followers")フォロワーのみ　
      %input.modebtn(type="radio" name="userfilter" id="followings"){"@click"=>"pushFollowingBtn"}
        %label.modebtn(for="followings")フォロー中のみ

      %transition-group(appear){"name"=>"fade"}
        .memos__follower{"v-for" => "user in filterUsers", ":key" => "user.id"}
          %img.memos__follower__pic{":src" => "user.image.url", "width" => "30", "height" => "30"}
          %p.memos__follower__name
            {{ user.name }}
          %button.button.following{"v-if" => "!Boolean(user.follow_id)", "@click" => "followUser(user.id, user.own_id)", "data-turbolinks" => "false"}フォロー
          %button.button.following.mouseover{"v-else" => "", "@click" => "unFollowUser(user.follow_id)", "data-turbolinks" => "false", "@mouseover" => "mouseOverUser(user.id)", "@mouseleave" => "mouseLeaveUser"} {{hoverUserFlag && user.id === hoverUserIndex ? "フォロー解除" : "フォロー中"}}
      %p{"v-if"=>"filterUsers.length == 0"} 条件にマッチするユーザーはいません
-else
  =link_to "login", user_session_path, class:"button", data: {"turbolinks" => false}
