
- if user_signed_in?
  = current_user.name
  =link_to "logout", destroy_user_session_path, method: :DELETE
  - @users.each do |user|
    = render "relationships/follow_button", user: user
-else
  =link_to "login", user_session_path


