- if user_signed_in?
  = current_user.name
  =link_to "ログアウト", destroy_user_session_path, class:"button",method: :DELETE, data: {"turbolinks" => false}

  - if @todays_memos.present?
    #memo_form
      %p 編集
      .memo-form__inside
        .memo-form__inside__line{"v-for" => "memo in memos", ":key" => "memo.id"}
          %p.dot ・
          %input(type="text" class="memos__memo__edit" v-model="memo.memo")
      %input.hidden(type="submit" value="Submit" class="submit-btn"){"v-if"=>"change"}
      %input(type="submit" value="Submit" class="submit-btn"){"@click"=>"changeMemos", "v-else"=>""}
  - else
    %P 新規
    = render partial: "form", locals: { memos: @memos }
  #memo 
    = render partial: "weekly_memos"
    %input(type="text" v-model="searchWord" placeholder="ユーザーネームで検索")


    %input(type="radio" name="userfilter" id="followers")
      %label(for="followers")フォロワーのみ
    %input(type="radio" name="userfilter" id="followings")
      %label(for="followings")フォロー中のみ


    .memos__followers{"v-for" => "user in filterUsers", ":key" => "user.id"}
      %img.memos__followers__pic{":src" => "user.image.url", "width" => "30", "height" => "30"}
      %p.memos__followers__name
        {{ user.name }}
      %button.button.following{"v-if" => "Boolean(user.follow_id)", "@click" => "unfollowUser(user.follow_id)", "data-turbolinks" => "false"}フォロー
      %button.button.following.mouseover{"v-else" => "", "@click" => "followUser(user.id, user.own_id)", "data-turbolinks" => "false", "@mouseover" => "mouseOverUser(user.id)", "@mouseleave" => "mouseLeaveUser"} {{hoverUserFlag && user.id === hoverUserIndex ? "フォロー解除" : "フォロー中"}}
-else
  =link_to "login", user_session_path, class:"button", data: {"turbolinks" => false}
